body{
background-image: url('imgs/fundo.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-color: #0d0d0d;
background-size: 100%;
}
	
@media only screen and (max-width: 1036px){
    
body{
background-size: 300%;
}
}
	
#menu{
display: flex;
justify-content: center;
background-color: #e2e2e2;
transition: 0.3s;
position: fixed;
top: 0;
left: 0;
height:55px;
width: 100%;
box-shadow: -10px 0px 10px 1px black;
}

#menu:hover{
background-color: #eaeded;
transition: 0.3s;
}

#menu li{
display: inline-block;
font-family: 'Montserrat', sans-serif;
padding-left: 30px;
padding-right: 30px;
transition: 0.3s;
}

#menu li:hover{
padding-left: 40px;
padding-right: 40px;
transition: 0.3s;
}

#menu a{
color: #111111;
text-decoration: none;
transition: 0.3s;
}

#menu a:hover{
color: #1a9393;
transition: 0.3s;
}

@media only screen and (max-width: 1020px){
    
#menu li{
display: inline-block;
font-family: 'Montserrat', sans-serif;
padding-left: 10px;
padding-right: 10px;
transition: 0.3s;
}

#menu li:hover{
padding-left: 12px;
padding-right: 12px;
transition: 0.3s;
}

}

	#topo{
	font-family: 'Roboto', sans-serif;
	line-height: 20px;
    color: white;
	font-size: 30px;
	}
	.baixo{
	background-color: #efefef;
	color: black;
	width: 100%;
	height: auto;	
	display: flex;
	font-size: 30px;
	margin-left: -30px;
	padding-right: 38px;
	font-family: 'Work Sans', sans-serif;
	}

    .sobre{
	background-color: #1d2d4f;
	color: white;
	width: 100%;
	height: auto;	
	display: flex;
	font-size: 22px;
	margin-left: -68px;
	padding: 38px;
    text-align: left;
	font-family: 'Work Sans', sans-serif;
    text-align: justify;
    }

    .sobre img{
    width: 300px;
    height: auto;
    }
	
    .sobre div{
    padding: 40px;
    }

	.baixo3{
	background-color: #efefef;
	color: black;
	width: 100%;
	height: auto;	
	font-size: 15px;
	margin-left: -30px;
	padding-right: 38px;
	font-family: 'Work Sans', sans-serif;
	}

	#certificado{
	color: white;
	width: 100%;
	height: auto;	
	font-size: 30px;
	font-family: 'Work Sans', sans-serif;
	}
	
	 #duvidas{
	background-color: #efefef;
	color: black;
	width: 100%;
	height: auto;	
	display: flex;
	font-size: 18px;
	margin-left: -30px;
	padding-right: 38px;
	font-family: 'Work Sans', sans-serif;
	}
	
	#topo h1{
	font-size: 50px;
	}
	
	#modulos {
    font-family: 'Work Sans', sans-serif;
	width: 800px;
	background-color: transparent;
	border-radius: 30px 240px;
	}
		
	.modBox{
	width: 100%;
	height: auto;
	font-size: 14px;
	padding: 5px;
	color: white;
	background-color:  #292a2b;
	transition: 0.3s ease-out;
	}
	
    .modBox:hover{
    color:  black;
	background-color:  #eaeaea;
	background-size: cover;
    margin-left: 10px;
	transition: 0.3s ease-out;
		}
	
	#Modulo10{
	width: 100%;
	height: 125px;
	font-size: 25px;
	padding: 5px;
	background-color: #e4e0e5;
	text-align: center;
	border-radius: 0px 0px 40px 240px;
	}

	#youtubehere{
	border-radius: 40px 40px 40px 0px;
	}
	
	#linha1, #linha2, #linha3{
		/* display: flex; */
	    text-align: center; 
	}

	h4{
	line-height: 35px;
	font-size: 14px;
	}
	
	h3{
	font-size: 20px;
	}
@media only screen and (min-width: 1021px){
	
	#Modulo1{
	border-radius: 0px 240px 0px 0px;
	}	
	
	
	#contato{
    width: 30%;
    height: auto;
	
	}		
	}	
		.linhas{
			padding: 20px;
			height: 130px;
			background-color: #dddddd;
	        border-radius: 20px 20px 20px 20px;
		}
		
		#Blinha1{
			padding-top: 80px;
			width: 50%;
			margin-left: 70px;
			margin-top: 10px;
		}
		
		#Blinha2{
			padding-top: 80px;
			width: 50%;
			margin-left: 40px;
			margin-top: 10px;
		}

		.euquero{
		width: 70%;
		height: 100px;
		background-image: linear-gradient(#d83a3a, #931414,  #a31515);
		border: none;
		color: white;
		font-size: 17px;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0px 5px 20px 10px #969494;
        font-weight: bold;
        transition: 0.6s;
        cursor: pointer;        
		}

		.euquero:hover{
		font-size: 20px;
        box-shadow: 0px 15px 10px 10px #969494;
		}
		

		.euquerotopo{
		width: 720px;
		height: 100px;
		background-image: linear-gradient(#1da573, #20cc8d,  #1da573);
		border: none;
		color: #2f3030;
		font-size: 19px;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0px 15px 40px 10px black;
        font-weight: bold;
        transition: 0.6s;
        cursor: pointer;        
		}

		.euquerotopo:hover{
		font-size: 20px;
        box-shadow: 0px 15px 30px 10px black;
		}

        @media only screen and (max-width: 1020px){
        .sobre {
        display: block;
        padding-left: 60px;
	    margin-left: -35px;
        }

        .sobre img{
        width: 600px;
        text-align: center;
        }

        .baixo{
        display: block;
        padding-right: 20px;
        padding-left: 70px;
        }

        .baixo3{
        display: block;
        padding-right: 20px;
        padding-left: 70px;
        }

        #duvidas{
        display: block;
        padding-right: 20px;
        padding-left: 70px;
        }

        #Blinha1{
        width: 70%;
		margin-left: 0px;     
		margin-top: 4px;       
        }


        #Blinha2{
        width: 70%;
		margin-left: 0px;       
		margin-top: 4px;  
        }

        .linhas{
        height: auto;   
        font-size: 30px; 
        }

        .modbox{
        background-color: #cfd0d3;
        color: black; 
        }

        .euquerotopo{
        width: 85%;
        font-size: 30px; 
        }

        .euquero{
        width: 90%;
        font-size: 30px; 
        }

        #contato{
        width: 90%;
        font-size: 30px; 
        }

        }
